inscription.foyerruralfauverney.fr {
    reverse_proxy /api/* backend:8000
    root * /usr/share/caddy/html
    file_server
    templates
}

pga.foyerruralfauverney.fr {
    basicauth {
        security ${PGADMIN_PROXY_PASSWORD}
    }
    reverse_proxy pgadmin:80
}
